.profile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;


  &__thumb {
    margin-right: 20px;
  }
  &__pr {

  }
}

.users {
  margin-top: 30px;
  @include breakpoint-pc {
    @include grid($x: 20, $y: 20, $n: 3);
  }
  @include breakpoint-sp {
    @include grid($x: 20, $y: 20, $n: 2);
  }

  &__card {
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 6px -3px rgba(#000000, .5);
  }
  &__img {
    img {
      width: 100%;
    }
  }
  &__detail {
    margin-top: 10px;

  }
  &__control {
    margin-top: 10px;
    font-size: 1.1rem;
    .btn {
      font-size: 1.1rem;
      margin-right: 5px;
    }
  }
  &__crud, &__sort {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__sort {
    margin-top: 5px;
  }
}
